/*
Error: Invalid CSS after "      width": expected "{", was "}"
        on line 294 of scss/layout/commons.scss
        from line 9 of style.scss

289:     left: 50%;
290:     width: 40%;
291:     @media #{$smartphones} {
292:       position:static;
293:       width
294:   }
295:     margin: -8% 0 0 -20%;
296:     text-align: left;
297:     padding: 3rem 7rem;
298:     .form-control{
299:       margin: $rem 0;

Backtrace:
scss/layout/commons.scss:294
style.scss:9
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:421:in `media_directive'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:209:in `directive'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/engine.rb:321:in `to_tree'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/Toya/.rvm/gems/ruby-2.4.2/gems/sass-3.5.5/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      width\": expected \"{\", was \"}\"\A         on line 294 of scss/layout/commons.scss\A         from line 9 of style.scss\A \A 289:     left: 50%;\A 290:     width: 40%;\A 291:     @media #{$smartphones} {\A 292:       position:static;\A 293:       width\A 294:   }\A 295:     margin: -8% 0 0 -20%;\A 296:     text-align: left;\A 297:     padding: 3rem 7rem;\A 298:     .form-control{\A 299:       margin: $rem 0;"; }
