<div class="owl-carousel owl-theme">
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car1.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car2.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car3.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car4.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car1.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car2.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car3.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="wo-overlay-effect">
        <img class="img-fluid" src="img/car4.jpg">
        <div class="caption wo-center">
            <div class="wo-caption-text">
                <h3>Web design</h3>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
</div>