<div class="col col-lg-4 col-md-4 col-12 ">

    <div class="wo-prices-item wo-center">
        <div class="wo-plan wo-plan-{{ include.class }}">
            <h2>{{ include.title }}</h2>
            <p>${{ include.price }}</p>
            <button class="wo-btn btn btn-primary" type="button" value="Input">Buy this plan</button>
        </div>


        <ul class="list-group">
            <li class="list-group-item">Desing Talk</li>
            <li class="list-group-item">Drawings</li>
            <li class="list-group-item">Wireframes</li>
            <li class="list-group-item">2 Revisions</li>
            <li class="list-group-item">-</li>
        </ul>
    </div>
</div>