@font-face {
    font-family: 'icomoon';
    src:  url('https://i.icomoon.io/public/temp/7d66c73cf4/UntitledProject/icomoon.eot?8drcvb');
    src:  url('https://i.icomoon.io/public/temp/7d66c73cf4/UntitledProject/icomoon.eot?8drcvb#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/7d66c73cf4/UntitledProject/icomoon.ttf?8drcvb') format('truetype'),
    url('https://i.icomoon.io/public/temp/7d66c73cf4/UntitledProject/icomoon.woff?8drcvb') format('woff'),
    url('https://i.icomoon.io/public/temp/7d66c73cf4/UntitledProject/icomoon.svg?8drcvb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-left:before {
    content: "\e90c";
}
.icon-chevron-thin-right:before {
    content: "\e90e";
}
.icon-brush:before {
    content: "\e900";
}
.icon-camera:before {
    content: "\e901";
}
.icon-chat:before {
    content: "\e902";
}
.icon-direction:before {
    content: "\e903";
}
.icon-globe:before {
    content: "\e904";
}
.icon-heart:before {
    content: "\e905";
}
.icon-magnifying-glass:before {
    content: "\e90a";
}
.icon-tablet:before {
    content: "\e906";
}
.icon-facebook-with-circle:before {
    content: "\e90b";
}
.icon-instagram:before {
    content: "\e907";
}
.icon-pinterest:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}