<!DOCTYPE html>
<html>
{% include head.html %}

<body>



{% include header.html %}



<section class="content">
    <!--Slider-->
    {% include slider.html %}

    <section class="wo-height-med">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
            </div>
        </div>
    </section>



    <section class="wo-section-back wo-height-med wo-center">
        <div class="container">
            <div class="wo-title"><h3>SUSCRIBE TO OUR NEWSLETTER</h3></div>
            <div class="wo-form">
                {% include form-news.html %}
            </div>

        </div>
    </section>

    <section class="wo-height-big">

        <div class="row">
            <div class="col-md-3 wo-nopadding-col wo-overlay-effect">

                {% include overlay-effect.html %}
            </div>
            <div class="col-md-3 wo-nopadding-col wo-overlay-effect">

                {% include overlay-effect.html %}
            </div>
            <div class="col-md-3 wo-nopadding-col wo-overlay-effect">

                {% include overlay-effect.html %}
            </div>
            <div class="col-md-3 wo-nopadding-col wo-overlay-effect">

                {% include overlay-effect.html %}
            </div>
        </div>

    </section>

    <section class="wo-height-med">
        <div class="container">
            <div class="wo-title wo-center"><h3>MEET OUR TEAM</h3></div>
            <div class="wo-text wo-center"><p>We are a very young, but very passionate design agency based in London, UK. Let us help you width your next proyect, today.</p>
                <div class="owl-carousel owl-theme">
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car1.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car2.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car3.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car4.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car1.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car2.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car3.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wo-overlay-effect">
                        <img class="img-fluid" src="img/car4.jpg">
                        <div class="caption wo-center">
                            <div class="wo-caption-text">
                                <h3>Web design</h3>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>



</section>
<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">

        </footer>
    </div>
</div>





</body>
</html>