<!DOCTYPE html>
<html>
{% include head.html %}

<body>



{% include header.html %}



<section class="content">
    <!--Slider-->
    {% include slider.html %}

    <section class="wo-height-med">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
                <div class="col-md-3">
                    {% include modIconoTitleText.html %}
                </div>
            </div>
        </div>
    </section>



    <section class="wo-section-back wo-height-section-m  wo-center">
        <div class="container">
            <div class="wo-title"><h3>SUSCRIBE TO OUR NEWSLETTER</h3></div>
            <div class="wo-form">
                {% include form-news.html %}
            </div>

        </div>
    </section>




</section>
<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">

        </footer>
    </div>
</div>




{% include analytics.html %}
</body>
</html>